.hero-unit {
	/*display: inline-block;*/
	background-image: url("http://www.wallibs.com/newimg/1600x1200-rolling-stones-wallpaper-music-rock-mick-jagger-keith-richards-ron-wood.jpg");
	background-repeat: no-repeat;
	background-size: 75%;
	background-color: black;
	/*background: -webkit-linear-gradient(left, black, gray);*/
}

.hero-unit h1, .hero-unit p {
	display: inline-block;
	color: white;
}

.hero-unit img{
	float: right;
	overflow: auto;
	padding: 1%;
}

#news, #tour, #newrel{
	padding: 2%;
}

#tour {
	text-align: center;
}

#tour ul{
	list-style-type: none;
}

#newrel{
	text-align: right;
}

#newrel ul{
	list-style-type: none;
}

#newrel img{
	padding: 1%;
}

#newrel li{
	padding-right: 5%;
	font-size: 20px;
}

#newrel li > h4 {
	display: inline-block;
	float: left;
}

#newrel li > p{
	display: inline-block;
	float: left;
	clear: left;
}

#contact{
	text-align: center;
}

#foot{
	margin-top: 5%;
}

footer p{
	float: right;
	margin-right: 5%;
}

#about, #albums{
	text-align: center;
	margin: 0;
	padding: 0;
}

#top{
	min-height: 41px;
}

#pics ul{
	width: 100%;
}

.us img{
	border-radius: 100%;

}

#pics ul > li{
	list-style-type: none;
}

.us{
	display: inline-block;
	width: 40%;
}

.us p{
	padding: 2%;
}
.us:first-of-type{
	text-align: center;
	float: left;
}

.us:last-of-type{
	text-align: center;
	float: right;
	}

textarea{
	width: 50%;
	height: 100px;
}

form{
	display: block;
}

button{
	display: block;
	margin-top: 3%;
	height: 30px;
	width: 60px;
}

#contform{
	padding-right: 25%;
	padding-left: 25%;

}